fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
pydantic-core
email-validator
python-multipart
passlib
bcrypt
python-jose
cryptography
jinja2
fastapi-mail
requests
razorpay
sendgrid