fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv

pydantic==2.6.4
pydantic-core==2.16.3
email-validator
python-multipart

passlib
python-jose[cryptography]

cryptography==41.0.7

jinja2
fastapi-mail
requests
